@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@font-face {
  font-family: "fontLight";
  src: url("../assets/fonts/IvyMode-Light.woff2") format("woff2");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "fontRegular";
  src: url("../assets/fonts/IvyMode-Regular.woff2") format("woff2");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "fontMedium";
  src: url("../assets/fonts/IvyMode-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "fontRegular";
}

a,
p {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

$bg_main: #d9d8d4;

.c-noise {
  animation: grain 6s steps(10) infinite;
  background-image: url("../assets/images/noise-full.png");
  background-repeat: repeat;
  height: 300%;
  left: -50%;
  opacity: 0.035;
  position: fixed;
  top: -100%;
  width: 300%;
  z-index: 0;
}

.c-old {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../assets/images/old.webp");
  opacity: 0.05;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 0;
}


.c-menu-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../assets/images/menu-bg.jpg");
  opacity: 0.05;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

.gallery-main {
  margin-top: 5rem;
}

c-gallery {
  margin-left: -8%;
  margin-right: -8%;
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
  z-index: 1000;
}

@media (max-width: 959px) {
  .c-gallery {
    margin-left: -100%;
    margin-right: -100%;
  }
}

@media (max-width: 719px) {
  .c-gallery {
    margin-top: -32px;
  }
}

.c-gallery-central {
  visibility: hidden;
}

.c-gallery-title {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  color: #eae9e4;
  font-family: "Ivy Mode", serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 1.25;
  text-align: center;
  mix-blend-mode: luminosity;
}

@media (max-width: 1355px) {
  .c-gallery-title {
    font-size: calc(3.5vw + 1.25rem);
  }
}

@media (max-width: 959px) {
  .c-gallery-title {
    max-width: 340px;
    font-size: 30px;
  }
}

.c-gallery-inner {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
}

.c-gallery-inner img {
  border-radius: 15px;
  width: 100%;
  height: auto;
}

.c-gallery-inner>div>img+img {
  margin-top: 40px;
}

@media (max-width: 959px) {
  .c-gallery-inner {
    grid-gap: 24px;
  }

  .c-gallery-inner img {
    border-radius: 8px;
  }

  .c-gallery-inner>div>img+img {
    margin-top: 24px;
  }
}

.c-gallery-overlay {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip-path: inset(15% 35% 15% 35% round 20px);
}

@media (max-width: 959px) {
  .c-gallery-overlay {
    clip-path: inset(15% 35% 15% 35% round 8px);
  }
}

.c-gallery-overlay video,
.c-gallery-overlay img {
  width: 100%;
  object-fit: cover;
}

.c-gallery-right.-inner,
.c-gallery-left.-inner {
  position: relative;
  top: -10vh;
}